<ul> 
	<li>	Northwind
			<ul>
					<li>Categories
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Customer
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Employee
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Order
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Product
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Shipper
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
					<li>Supplier
							<ul>
								<li><a href="#">create</a></li>
								<li><a href="#">search</a></li>
							</ul>
					</li>
			</ul>
			</ul>
	</li>
</ul>